* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Arial;
}


.pill-nav a {
  background-color: white;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding-top: 10 px;
}

.pill-nav a:hover {
  background-color: slateblue;
  color: black;
}

.pill-nav a.active {
  background-color: slateblue;
  color: orange;
}

.content {
  background-color: white;
  padding: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

header{
    background-color: orange;
}

.container{
    background-color: orange;
    
    }

.img{
    height: 90px;
    width: auto;
    float: left;

}
.bgimg{
    height: 100%;
    
}
.pill-nav{
    float: right;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
  .main {
      background-color: orange;
  
}
.ft{
    background-color: blue;
}
.site-footer {
  background: orange;
}

#footer-content {
  background: orange;
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: slateblue;
  color: yellow;
  margin: 35px;
  margin-left: 90px;
}

.fa-linkedin {
  background: slateblue;
  color: yellow;
  margin: 35px;
  margin-left: 5px;

}

.fa-instagram {
  background: slateblue;
  color: yellow;
  margin: 40px;
  margin-left: 90px;
  margin-top: 1px;

}

.fa-youtube {
  background: slateblue;
  color: yellow;
  margin: 35px;
  margin-left: 5px;
  margin-top: 1px;

}


